@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: rgb(9,121,60);
  background: linear-gradient(270deg, rgba(9,121,60,1) 0%, rgb(6, 112, 126) 100%);
}

.box{
  box-shadow: inset 10px black;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 16, 230, 53;
    --background-end-rgb: 163, 230, 53;
  }
}

