@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background: linear-gradient( rgb(108, 163, 94) 0%, rgb(108, 163, 94) 0%, rgb(99, 136, 137) 100%);
}

.font{
  font-family:Arial, Helvetica, sans-serif , sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 16, 230, 53;
    --background-end-rgb: 163, 230, 53;
  }
}

